node_modules
.pnp
.pnp.js

coverage
.nyc_output

.next
out

build
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env*.local
.env

.idea
.vscode
*.swp
*.swo

.DS_Store
*.pem

*.tsbuildinfo
next-env.d.ts

.git
.gitignore
